<main class="main-component main-content">
  <div class="main-content-inner">
    <!-- START: content-title -->
    <div class="main-content-unit content-title">
      <div class="content-title-inner">
        <h1>{{ "MENUS.USER_MANAGEMENT" | translate }}</h1>
      </div>
    </div>
    <!-- END: content-title -->
    <!-- START: content-query -->
    <div sys-use-info-search-form class="main-content-unit content-query"></div>
    <!-- END: content-query -->
    <hr class="seperate-line" />
    <!-- START: content-result -->
    <div
      sys-use-info-table
      class="main-content-unit content-result"
      (edit)="editPopupHandler($event)"
      (seach)="seachHandler()"
    ></div>
    <!-- END: content-result -->
  </div>
</main>

<sys-use-info-add
  *ngIf="popup.component === 'add'"
  [data]="popup.data"
  (close)="popup.component = null"
></sys-use-info-add>
