<div class="content-result-inner">
  <!-- START: result-function -->
  <div class="result-function">
    <ul>
      <li>
        <a href="javascript:void(0)" (click)="add.emit()" attr="add">新增</a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="deactivate.emit()" attr="prohibit"
          >停用</a
        >
      </li>
    </ul>
  </div>
  <!-- END: result-function -->

  <div
    app-tabulator-table-pagination
    [columnNames]="columnNames"
    [tableConfig]="{ selectable: true }"
    (tableBuilded)="tableBuilded($event)"
    (columnResized)="columnResized()"
  ></div>
</div>
