<div class="content-query-field" [formGroup]="searchFormGroup">
  <!-- 角色名稱 -->
  <div class="content-query-unit query-field">
    <div class="field-title">{{ "PAGES.ROLE_NAME" | translate }}</div>
    <div class="field-entry">
      <input
        type="text"
        [placeholder]="
          'PLACEHOLDER.ENTRY'
            | translate : { field: 'PAGES.ROLE_NAME' | translate }
        "
        formControlName="role_Name"
      />
    </div>
  </div>
  <!-- 狀態 -->
  <div class="content-query-unit query-field">
    <div class="field-title">{{ "PAGES.ROLE_STATE" | translate }}</div>
    <div class="field-entry">
      <select formControlName="role_State">
        <option value="2">{{ "SELECT_OPTIONS.ALL" | translate }}</option>
        <option value="1">{{ "SELECT_OPTIONS.ENABLE" | translate }}</option>
        <option value="0">{{ "SELECT_OPTIONS.DISABLE" | translate }}</option>
      </select>
    </div>
  </div>
</div>
<div class="content-query-button">
  <div class="content-query-unit query-button">
    <ul>
      <li>
        <button class="cancel-btn" (click)="clear()">
          {{ "BUTTONS.CLEAR" | translate }}
        </button>
      </li>
      <li>
        <button class="query-btn" (click)="search()">
          {{ "BUTTONS.SEARCH" | translate }}
        </button>
      </li>
    </ul>
  </div>
</div>
