<main class="main-component main-content">
  <div class="main-content-inner">
    <!-- START: content-title -->
    <div class="main-content-unit content-title">
      <div class="content-title-inner">
        <h1>區域維護</h1>
      </div>
    </div>
    <!-- END: content-title -->
    <!-- START: content-query -->
    <div g-zone-search-form class="main-content-unit content-query"></div>
    <!-- END: content-query -->
    <hr class="seperate-line" />
    <!-- START: content-result -->
    <div
      g-zone-table
      class="main-content-unit content-result"
      (add)="addPopupHandler()"
      (edit)="editPopupHandler($event)"
      (deactivate)="deactivatePopupHandler()"
    ></div>
    <!-- END: content-result -->
  </div>
</main>

<g-zone-add
  *ngIf="popup.component === 'add'"
  [data]="popup.data"
  (close)="popup.component = null"
></g-zone-add>

<app-delete-confirm
  *ngIf="popup.component === 'deactivate'"
  (submit)="deactivateHandler()"
  (close)="popup.component = null"
>
  <div class="popup-content">
    <p>【停用項目】</p>
    <ul>
      <li
        *ngFor="
          let item of gZoneService.getTabulatorTable().getSelectedData()
        "
      >
        {{ item.zone_Name }}
      </li>
    </ul>
  </div>
</app-delete-confirm>
