<div class="content-query-field" [formGroup]="searchFormGroup">
  <div class="content-query-unit query-field">
    <div class="field-title">修改項目</div>
    <div class="field-entry">
      <input
        type="text"
        placeholder="請輸入修改項目"
        formControlName="logExec_ChangeItem"
      />
    </div>
  </div>
  <div class="content-query-unit query-field">
    <div class="field-title">操作類型</div>
    <div class="field-entry">
      <input
        type="text"
        placeholder="請輸入操作類型"
        formControlName="logExec_Action"
      />
    </div>
  </div>
  <div class="content-query-unit query-field">
    <div class="field-title">日期區間(起)</div>
    <div class="field-entry">
      <nz-date-picker
        nzPlaceHolder="請輸入日期區間(起)"
        [(ngModel)]="startSearchDate"
        (ngModelChange)="startSearchDateChange($event)"
        [ngModelOptions]="{standalone: true}"
      ></nz-date-picker>
    </div>
  </div>
  <div class="content-query-unit query-field">
    <div class="field-title">日期區間(迄)</div>
    <div class="field-entry">
      <nz-date-picker
        nzPlaceHolder="請輸入日期區間(迄)"
        [(ngModel)]="endSearchDate"
        (ngModelChange)="endSearchDateChange($event)"
        [ngModelOptions]="{standalone: true}"
      ></nz-date-picker>
    </div>
  </div>
  <div class="content-query-unit query-field">
    <div class="field-title">工號</div>
    <div class="field-entry">
      <input
        type="text"
        placeholder="請輸入工號"
        formControlName="info_Jobnumber"
      />
    </div>
  </div>
  <div class="content-query-unit query-field">
    <div class="field-title">操作者中文姓名</div>
    <div class="field-entry">
      <input
        type="text"
        placeholder="請輸入操作者中文姓名"
        formControlName="info_Name"
      />
    </div>
  </div>
  <div class="content-query-unit query-field">
    <div class="field-title">操作者英文姓名</div>
    <div class="field-entry">
      <input
        type="text"
        placeholder="請輸入操作者英文姓名"
        formControlName="info_Ename"
      />
    </div>
  </div>
</div>
<div class="content-query-button">
  <div class="content-query-unit query-button">
    <ul>
      <li><button class="cancel-btn" (click)="clear()">清除</button></li>
      <li><button class="query-btn" (click)="search()">查詢</button></li>
    </ul>
  </div>
</div>
