<!-- START: popup -->
<div class="frame-block">
  <div class="frame-compose popup-compose">
    <div class="popup-composer-inner">
      <!-- START: default-popup -->
      <div class="popup-component large-size-popup" type="normal">
        <div class="popup-header">
          <div class="popup-header-inner">
            <div class="popup-header-unit header-text">
              {{ data.mode === "add" ? "新增" : "編輯" }}Location維護
            </div>
            <div class="popup-header-unit header-btn">
              <a href="javascript:void(0)" (click)="close.emit()"
                ><span class="material-icons-outlined"> close </span></a
              >
            </div>
          </div>
        </div>
        <div class="popup-content">
          <div class="popup-content-form" [formGroup]="locationFormGroup">
            <div class="form-row row-2">
              <div class="form-item" type="required" [attr.attr]="f['cfk_Site'].errors && f['cfk_Site'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">Site</div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      placeholder="請輸入Site"
                      formControlName="cfk_Site"
                      [attr.attr]="data.mode === 'edit' && 'readonly'"
                    />
                  </div>
                  <div class="form-item-text" *ngIf="f['cfk_Site'].errors && f['cfk_Site'].touched">
                    <p>{{ f["cfk_Site"].errors | errorMessage : 'Site' }}</p>
                  </div>
                </div>
              </div>
              <div class="form-item" type="required" [attr.attr]="f['ck_Location_Code'].errors && f['ck_Location_Code'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">Location</div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      placeholder="請輸入Location"
                      formControlName="ck_Location_Code"
                      [attr.attr]="data.mode === 'edit' && 'readonly'"
                    />
                  </div>
                  <div class="form-item-text" *ngIf="f['ck_Location_Code'].errors && f['ck_Location_Code'].touched">
                    <p>{{ f["ck_Location_Code"].errors | errorMessage : 'Location' }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row row-2">
              <div class="form-item" type="required" [attr.attr]="f['location_Name'].errors && f['location_Name'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">Local Name</div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      placeholder="請輸入Local Name"
                      formControlName="location_Name"
                    />
                  </div>
                  <div class="form-item-text" *ngIf="f['location_Name'].errors && f['location_Name'].touched">
                    <p>{{ f["location_Name"].errors | errorMessage : 'Local Name' }}</p>
                  </div>
                </div>
              </div>
              <div class="form-item" type="required" [attr.attr]="f['location_EnglishName'].errors && f['location_EnglishName'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">English Name</div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      placeholder="請輸入English Name"
                      formControlName="location_EnglishName"
                    />
                  </div>
                  <div class="form-item-text" *ngIf="f['location_EnglishName'].errors && f['location_EnglishName'].touched">
                    <p>{{ f["location_EnglishName"].errors | errorMessage : 'English Name' }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row row-2">
              <div class="form-item" type="required" [attr.attr]="f['location_Area'].errors && f['location_Area'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">分區</div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      placeholder="請輸入分區"
                      formControlName="location_Area"
                    />
                  </div>
                  <div class="form-item-text" *ngIf="f['location_Area'].errors && f['location_Area'].touched">
                    <p>{{ f["location_Area"].errors | errorMessage : '分區' }}</p>
                  </div>
                </div>
              </div>
              <div class="form-item" type="required" [attr.attr]="f['location_Company'].errors && f['location_Company'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">公司</div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      placeholder="請輸入公司"
                      formControlName="location_Company"
                    />
                  </div>
                  <div class="form-item-text" *ngIf="f['location_Company'].errors && f['location_Company'].touched">
                    <p>{{ f["location_Company"].errors | errorMessage : '公司' }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row row-2">
              <div class="form-item" type="required" [attr.attr]="f['location_State'].errors && f['location_State'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">狀態</div>
                  <div class="form-item-entry">
                    <ul>
                      <li>
                        <input
                          type="radio"
                          id="rd01"
                          value="1"
                          formControlName="location_State"
                        />
                        <label for="rd01">啟用</label>
                      </li>
                      <li>
                        <input
                          type="radio"
                          id="rd02"
                          value="0"
                          formControlName="location_State"
                        />
                        <label for="rd02">停用</label>
                      </li>
                    </ul>
                  </div>
                  <div class="form-item-text" *ngIf="f['location_State'].errors && f['location_State'].touched">
                    <p>{{ f["location_State"].errors | errorMessage : '狀態' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup-footer">
          <div class="popup-footer-inner">
            <div class="popup-footer-unit footer-button" btn="cancel">
              <button (click)="close.emit()">取消</button>
            </div>
            <div class="popup-footer-unit footer-button" btn="confirm">
              <button (click)="submit()">確認</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END: default-popup -->
    </div>
  </div>
</div>
<!-- END: popup -->
