<div class="container-inner index-default">
  <!-- START: frame -->
  <div class="frame-block">
    <!-- START: header -->
    <header app-header class="frame-compose header-compose"></header>
    <!-- END: header -->
  </div>
  <!-- END: frame -->
  <!-- START: frame -->
  <div class="frame-block">
    <div class="frame-block-inner">
      <!-- START: nav -->
      <nav app-nav class="frame-compose nav-compose" [ngClass]="{'active': menuControlService.isShow}"></nav>
      <!-- END: nav -->
      <!-- START: main -->
      <div class="frame-compose main-compose">
        <!-- START: content -->
        <router-outlet></router-outlet>
        <!-- END: content -->
        <!-- START: footer -->
        <footer app-footer class="footer-component footer-copyright"></footer>
        <!-- END: footer -->
      </div>
      <!-- END: main -->
    </div>
  </div>
  <!-- END: frame -->
</div>
