nz-select {
  width: 100%;
}

nz-date-picker.ant-picker {
  border-radius: 0;
  border: none;
  border-bottom: #ccc solid 1px;
  padding: 0;
  width: 100%;

  &-focused,
  &:hover {
    border: none;
    border-bottom: #ccc solid 1px;
  }

  &-focused {
    box-shadow: none;
  }

  .ant-picker-input>input:hover {
    border: none;
  }

  input {
    border: none !important;
    padding: 2px 4px;
    width: 100%;
    height: 34px;
    outline: none;
  }
}

.tabulator .tabulator-footer .tabulator-paginator {
  display: none;
}

.tabulator .tabulator-footer .tabulator-footer-contents {
  padding: 0;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
  background: #006c91;
}

.result-table {
  width: calc(100vw - 280px);
}
