nz {
  &-select {
    width: 100%;
  }

  &-date-picker.ant-picker {
    border-radius: 0;
    border: none;
    border-bottom: #ccc solid 1px;
    padding: 0;
    width: 100%;

    &:hover {
      border: none;
      border-bottom: #ccc solid 1px;
    }

    &-focused {
      border: none;
      border-bottom: #aaa solid 1px !important;
      box-shadow: none;
    }

    .ant-picker-input>input:hover {
      border: none;
    }

    input {
      border: none !important;
      padding: 2px 4px;
      width: 100%;
      height: 34px;
      outline: none;
    }
  }

  &-transfer.ant-transfer {
    .ant-transfer-list-header {
      display: none;
    }

    .ant-transfer-list {
      min-height: 300px;
      max-height: 400px;
      padding: 4px;
      overflow: auto;
      flex: 1;
      border: #aaa solid 1px;
      border-radius: 4px;
    }
  }
}

.form-item[attr="error"] .form-item-entry {

  nz-select,
  nz-date-picker.ant-picker,
  nz-transfer.ant-transfer .ant-transfer-list,
  .tree-field,
  textarea {
    border-radius: 4px;
    border: 1px solid #f04949;
    outline-color: #f04949;
  }

  .tree-field {
    overflow: hidden;

    .tree-field-inner {
      margin: -1px;
    }
  }
}

.tabulator .tabulator-footer .tabulator-paginator {
  display: none;
}

.tabulator .tabulator-footer .tabulator-footer-contents {
  padding: 0;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
  background: #006c91;
}

.result-table {
  width: calc(100vw - 280px);
}

.query-field[attr="error"] {
  .form-item-text p {
    color: #f04949;
  }
}
