html,
body,
.container,
.container-inner {
  height: 100%;
  overflow: auto;
}

.container-inner {
  background: #f9fbff;
}

/* START: frame */
.frame-block-inner {
  display: flex;
  align-items: stretch;
}

.frame-compose {
  flex: 1;
}
/* END: frame */

/* START: header */
.header-compose {
  padding: 10px 15px;
}

.header-compose-inner {
  display: flex;
  align-items: center;
}

.header-component {
  flex: 1;
  align-items: center;
}

/* header-logo */
.header-logo {
  flex: 0 0 230px;
  padding: 0 30px 0 10px;
}

.header-logo a {
  display: block;
}

/* header-function */
.header-function-inner {
  display: flex;
  padding: 0 10px 0 0;
}

.header-function-unit {
  display: flex;
  align-items: center;
}

.menu-button a {
  display: block;
  text-align: center;
  position: relative;
}

.menu-button a span {
  font-size: 36px;
  color: #006c91;
}

.header-function ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.system-link ul {
  display: flex;
}

.system-link li {
  display: flex;
  border-right: #006c91 solid 1px;
}

.system-link li:nth-last-child(1) {
  border-right: none;
}

.system-link li a {
  display: block;
  padding: 0 15px;
  color: #006c91;
  text-decoration: none;
}

.system-link li a:hover {
  color: #708a45;
}

.system-link li a.active {
  color: #708a45;
}

.system-link li a[attr="staff"]::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "people";
  font-feature-settings: "liga";
  margin-right: 6px;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block;
  vertical-align: bottom;
}

.system-link li a[attr="setting"]::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "manage_accounts";
  font-feature-settings: "liga";
  margin-right: 6px;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block;
  vertical-align: bottom;
}

.system-link li a[attr="global"]::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "public";
  font-feature-settings: "liga";
  margin-right: 6px;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block;
  vertical-align: bottom;
}

/* header-info */
.header-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-info-inner {
  display: flex;
  justify-content: flex-end;
}

.header-info-unit {
  display: flex;
  padding: 0 15px;
  align-items: center;
  border-left: #006c91 solid 1px;
}

.header-info-unit:nth-child(1) {
  border-left: none;
}

.header-info-unit:nth-last-child(1) {
  padding: 0 0 0 20px;
}

.lang-selector::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "language";
  font-feature-settings: "liga";
  margin-right: 6px;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  color: #006c91;
}

.lang-selector select {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  border: none;
  color: #006c91;
  outline: none;
  background: none;
}

.user-link {
  position: relative;
  cursor: pointer;
}

.user-link > ul > li {
  display: inline-block;
  vertical-align: middle;
  color: #006c91;
}

.user-link > ul > li:nth-child(1)::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "account_circle";
  font-feature-settings: "liga";
  margin-right: 6px;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  color: #006c91;
}

.user-link > ul > li:nth-last-child(1)::before {
  content: "（";
  display: inline-block;
  vertical-align: initial;
}

.user-link > ul > li:nth-last-child(1)::after {
  content: "）";
  display: inline-block;
  vertical-align: initial;
}

.user-link-nav {
  width: 80%;
  padding: 6px;
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  z-index: 99;
  background: #f7f7f7;
  border-radius: 6px;
  border: #ccc solid 1px;
  -webkit-box-shadow: 5px 5px 30px -18px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 5px 5px 30px -18px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 30px -18px rgba(0, 0, 0, 0.8);
}

.user-link-nav::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: -2px;
  left: 50%;
  background: #f7f7f7;
  border-left: #ccc solid 1px;
  border-top: #ccc solid 1px;
  transform: rotate(45deg) translateX(-50%);
}

.user-link-nav li {
  border-bottom: #ccc dotted 1px;
}

.user-link-nav li:nth-last-child(1) {
  border-bottom: none;
}

.user-link-nav a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color: #555;
}

.user-link-nav a:hover {
  color: #006c91;
  background: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}

.location-text {
  color: #006c91;
}

/* END: header */

/* START: nav */
.nav-compose {
  flex: 0 0 215px;
  padding: 24px 5px 24px 20px;
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 65px);
  /* border: #f00 solid 1px; */
  overflow: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.nav-compose::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.nav-text h4 {
  font-size: 0.875rem;
  color: #006c91;
}

.nav-text h4::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "folder_open";
  font-feature-settings: "liga";
  margin-right: 4px;
  font-size: 1.3125rem;
  line-height: 1;
  display: inline-block;
  vertical-align: text-bottom;
  color: #a2cb5e;
}

.nav-link {
  padding: 16px 15px 10px 25px;
  border-bottom: #ddd solid 1px;
  margin-bottom: 10px;
}

.nav-link ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link li {
  margin-bottom: 12px;
}

.nav-link li:nth-last-child(1) {
  margin-bottom: 0;
}

.nav-link a {
  text-decoration: none;
  color: #777;
}

.nav-link a:hover {
  color: #006c91;
  font-weight: bold;
}

.nav-link a.active {
  color: #006c91;
  font-weight: bold;
}
/* END: nav */

/* START: main */
.main-compose {
  padding: 0 10px;
}
/* content */
.main-content {
  min-height: calc(100% - 80px);
  padding: 30px 15px;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.main-content-inner {
  min-height: calc(100% - 10px);
}

/* content-title */
.content-title {
  padding: 0 0 10px;
}

.content-title h1 {
  padding: 0 4px;
  font-size: 1.3125rem;
  font-weight: bold;
  color: #006c91;
}

/* content-query */
.content-query {
  border: #bbb solid 1px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.content-query-field {
  padding: 10px 5px;
}

.content-query-button {
  padding: 10px 5px;
  background: #edf7ff;
  text-align: right;
  border-top: #eee solid 1px;
}

.content-query-unit {
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
  margin-top: 30px;
}

.content-query-unit:nth-child(-n + 4) {
  margin-top: 0;
}

.query-field {
  width: 25%;
}

.query-field-half {
  width: 50%;
}

.query-field-all {
  width: 100%;
}

.field-title {
  padding: 4px 5px 6px 5px;
  font-weight: bold;
  color: #006c91;
}

.field-entry ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.field-entry ul li {
  display: inline-block;
  vertical-align: middle;
  padding-right: 15px;
}

.field-entry input[type="text"],
.field-entry input[type="date"] {
  height: 35px;
  border: none;
  border-bottom: #ccc solid 1px;
  outline: none;
}

.field-entry input:focus {
  border-bottom: #333 solid 1px;
}

.field-entry select {
  height: 35px;
  border: none;
  border-bottom: #ccc solid 1px;
  outline: none;
}

/* .field-entry input:focus {
  border-bottom: #aaa solid 1px;
} */

.field-entry-inner {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.field-entry-unit {
  display: table-cell;
  vertical-align: middle;
}

.field-entry-unit:nth-child(2) {
  width: 20px;
  text-align: center;
}

.field-entry-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.field-entry-col {
  display: flex;
  padding-right: 8px;
}

.field-entry-col:nth-last-child(1) {
  padding-right: 0;
}

.field-entry-row .col-1 {
  flex: 0 0 10%;
}

.field-entry-row .col-2 {
  flex: 0 0 20%;
}

.field-entry-row .col-3 {
  flex: 0 0 30%;
}

.field-entry-row .col-4 {
  flex: 0 0 40%;
}

.field-entry-row .col-5 {
  flex: 0 0 50%;
}

.field-entry-row .col-6 {
  flex: 0 0 60%;
}

.field-entry-row .col-7 {
  flex: 0 0 70%;
}

.field-entry-row .col-8 {
  flex: 0 0 80%;
}

.field-entry-row .col-9 {
  flex: 0 0 90%;
}

.field-entry-row .col-10 {
  flex: 0 0 100%;
}

.query-button ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.query-button li {
  display: inline-block;
  margin-left: 10px;
}

.query-button button {
  cursor: pointer;
  padding: 4px 15px;
  font-size: 16px;
  border-radius: 4px;
}

.query-button button.cancel-btn {
  border: #006c91 solid 1px;
  background: #fff;
  color: #006c91;
}

.query-button button.cancel-btn:hover {
  background: #f4f4f4;
}

.query-button button.query-btn {
  border: #006c91 solid 1px;
  background: #006c91;
  color: #fff;
}

.query-button button.query-btn:hover {
  background: #074d64;
}

hr.seperate-line {
  margin: 20px 0;
  border: none;
  border-top: 1px dotted #ccc;
}

hr.seperate-line-solid {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

/* content-result */
.content-result {
  /* padding: 15px;
  border: #bbb solid 1px; */
  border-radius: 10px;
  background: #fff;
}

.content-result-inner {
  padding: 15px 10px;
  border: #bbb solid 1px;
  border-radius: 10px;
}

/* result-function */
.result-function {
  padding: 4px 0 12px 0;
}

.result-function ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.result-function li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: #aaa solid 1px;
}

.result-function a {
  text-decoration: none;
  color: #006c91;
  font-weight: bold;
}

.result-function a:hover {
  color: #006c91;
}

.result-function a[attr="add"]::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "add_circle_outline";
  font-feature-settings: "liga";
  margin-right: 4px;
  font-size: 1.3125rem;
  line-height: 1;
  display: inline-block;
  vertical-align: text-bottom;
  color: #006c91;
}

.result-function a[attr="copy"]::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "content_copy";
  font-feature-settings: "liga";
  margin-right: 4px;
  font-size: 1.3125rem;
  line-height: 1;
  display: inline-block;
  vertical-align: text-bottom;
  color: #006c91;
}

.result-function a[attr="prohibit"]::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "block";
  font-feature-settings: "liga";
  margin-right: 4px;
  font-size: 1.3125rem;
  line-height: 1;
  display: inline-block;
  vertical-align: text-bottom;
  color: #006c91;
}

.result-function a[attr="delete"]::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "delete";
  font-feature-settings: "liga";
  margin-right: 4px;
  font-size: 1.3125rem;
  line-height: 1;
  display: inline-block;
  vertical-align: text-bottom;
  color: #006c91;
}

.result-function a[attr="refresh"]::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "autorenew";
  font-feature-settings: "liga";
  margin-right: 4px;
  font-size: 1.3125rem;
  line-height: 1;
  display: inline-block;
  vertical-align: text-bottom;
  color: #006c91;
}

.result-function a[attr="batch-add"]::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "edit_note";
  font-feature-settings: "liga";
  margin-right: 4px;
  font-size: 1.3125rem;
  line-height: 1;
  display: inline-block;
  vertical-align: text-bottom;
  color: #006c91;
}

.result-function a[attr="batch-delete"]::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "delete";
  font-feature-settings: "liga";
  margin-right: 4px;
  font-size: 1.3125rem;
  line-height: 1;
  display: inline-block;
  vertical-align: text-bottom;
  color: #006c91;
}

/* result-counter */
.result-counter {
  padding: 10px;
  border: #ccc solid 1px;
  border-bottom: none;
  background: #f9f9f9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #006c91;
}

.result-counter span {
  padding: 0 4px;
}

/* result-table */
.result-table {
  width: calc(100vw - 287px);
  /* border: #ccc solid 1px; */
}

.result-table .tabulator {
  border: none;

  border: #ccc solid 1px;
  border-right: #ccc solid 1px;
}

.result-table .tabulator .tabulator-header .tabulator-col:hover {
  background: #006c91;
}

.result-table
  .tabulator
  .tabulator-header
  .tabulator-col
  .tabulator-col-content {
  color: #fff;
}

.result-table .tabulator .tabulator-header .tabulator-col {
  background: #006c91;
  font-weight: normal;
}

.result-table .tabulator-row .tabulator-cell {
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
  overflow: inherit;
}

.result-table .tabulator-row .tabulator-cell a {
  display: block;
  text-decoration: none;
  color: #3aa2e6;
}

.result-table .tabulator-row .tabulator-cell a:hover {
  text-decoration: underline;
}

.result-table .tabulator-row .tabulator-cell input {
  width: 20px;
}

.result-table .tabulator-row.tabulator-selectable:hover {
  background-color: #fffcea;
}

.result-table .tabulator-row.tabulator-row-even {
  background: #f7f7f7;
}

.result-table .tabulator-row.tabulator-selected {
  background: #9abcea;
}

.result-table .tabulator .tabulator-header {
  background: #006c91;
}

.result-table .tabulator-row {
  display: flex;
  align-items: stretch;
  border-bottom: #aaa solid 1px;
}

.result-table .tabulator-row .tabulator-cell {
  white-space: pre-wrap;
  height: inherit !important;
}

.result-table .tabulator-tableholder {
  height: inherit !important;
}

.rt-fun-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rt-fun-list > ul li {
  display: inline-block;
  width: 35px;
}

.result-table .tabulator-row .tabulator-cell .rt-fun-list a:hover {
  text-decoration: none;
}

.rt-fun-list a span {
  display: block;
  padding-top: 6px;
}

.more-fun-list {
  width: 100%;
  padding: 2px;
  display: block;
  /* margin-top: 4px; */
  position: absolute;
  z-index: 999;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  border: #aaa solid 1px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.more-fun-list li {
  border-right: #eee solid 1px;
  padding: 3px;
  display: inline-block;
}

.more-fun-list li:nth-last-child(1) {
  border-right: none;
}

.rt-fun-list .more-fun-list a span {
  padding: 0;
}

.result-table .tabulator-row .tabulator-cell a.rt-delete {
  color: #dd3333;
}

.disabled-val {
  color: #dd3333;
}

/* result-page */
.result-page {
  padding: 10px;
  border: #ccc solid 1px;
  border-top: none;
  background: #f9f9f9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.result-page ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.result-page li {
  display: inline-block;
  margin-left: 10px;
}

.result-page li a {
  display: block;
  padding: 2px 6px;
  border: #006c91 solid 1px;
  border-radius: 4px;
  font-size: 0.875rem;
  color: #006c91;
  text-decoration: none;
  background: #fff;
}

.result-page li a:hover {
  background: #006c91;
  color: #fff;
}

.result-page li span,
.result-page li select {
  display: inline-block;
  margin-left: 4px;
}

.result-page li select {
  width: 50px;
  padding: 2px;
  height: inherit;
  border-radius: 4px;
  outline: none;
  font-size: 0.875rem;
  text-align: center;
}
/* END: main */

/* START: footer */
.footer-copyright {
  text-align: center;
}

.footer-copyright p {
  margin: 10px 0;
  font-size: 0.875rem;
  color: rgba(7, 77, 100, 0.6);
}
/* END: footer */

/* START: popup */
.extra-size-popup {
  width: 100%;
}

.large-size-popup {
  width: 800px;
}

.default-size-popup {
  width: 500px;
}

.small-size-popup {
  width: 300px;
}

.popup-compose {
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.popup-component {
  background: #f9f9f9;
  border-radius: 10px;
  overflow: visible;
  border: #eee solid 1px;
  margin: 60px auto 40px;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
}

.popup-component.extra-size-popup {
  min-height: calc(100vh - 60px);
  margin: 60px auto 0;
}

/* header */
.popup-component[type="normal"] .popup-header-inner {
  background: #006c91;
}

.popup-component[type="warning"] .popup-header-inner,
.popup-component[type="warning-editable"] .popup-header-inner {
  background: #db0716;
}

.popup-header-inner {
  width: 100%;
  display: table;
  table-layout: fixed;
  padding: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.popup-header-unit {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}

.popup-header-unit a {
  color: #fff;
}

.header-btn {
  text-align: right;
  display: flex;
  justify-content: end;
}

.header-btn a {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}

/* content */
.popup-content {
  padding: 20px 5px 40px;
}

.form-row {
  width: 100%;
  /* display: table;
  table-layout: fixed; */
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-row:nth-child(1) {
  margin-top: 0;
}

.form-item {
  padding: 0 10px;
  /* display: table-cell;
  vertical-align: top; */
}

.row-3 .form-item {
  flex: 0 0 33.333%;
}

.row-2 .form-item {
  flex: 0 0 50%;
}

.row-1 .form-item {
  flex: 0 0 100%;
}

.form-item-title {
  padding: 4px;
  font-weight: bold;
}

.form-item-title span {
  font-size: 0.75rem;
  color: #777;
  font-weight: normal;
  padding-left: 4px;
}

.popup-content .form-item[type="required"] .form-item-title::before {
  content: "*";
  color: #f04949;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.3125rem;
  line-height: 1;
  margin-right: 3px;
}

.form-item-entry input,
.form-item-entry select {
  height: 35px;
  border-radius: 4px;
  outline-color: #bbb;
  border: #aaa solid 1px;
}

.form-item-entry textarea {
  border-radius: 4px;
  outline-color: #bbb;
  border: #aaa solid 1px;
}

.form-item-entry ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-item-entry li {
  display: inline-flex;
  justify-content: flex-start;
  margin-right: 15px;
  padding-top: 4px;
}

.form-item-entry input[type="radio"] {
  width: 15px;
  height: 20px;
}

.form-item-entry input[type="radio"],
.form-item-entry label {
  display: flex;
  align-items: center;
}

.form-item-text {
  padding: 2px;
}

.form-item-text p {
  padding: 0 2px;
  margin: 0;
  font-size: 0.75rem;
  color: #999;
}

.form-item[attr="error"] .form-item-entry input {
  border-color: #f04949;
  outline-color: #f04949;
}

.form-item[attr="error"] .form-item-text p {
  color: #f04949;
}

.form-seperate {
  border: #ccc dashed 1px;
  margin: 10px 15px;
}

/* footer */
.popup-footer-inner {
  padding: 15px;
  text-align: center;
  background: #f4f4f4;
  border-top: #ddd solid 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.popup-footer-unit {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
}

.footer-button button {
  padding: 4px 20px;
  cursor: pointer;
  border-radius: 4px;
  background: #fff;
}

.popup-component[type="normal"] .footer-button[btn="cancel"] button {
  border: #006c91 solid 1px;
  color: #006c91;
}

.popup-component[type="normal"] .footer-button[btn="cancel"] button:hover {
  background: #f7f7f7;
}

.popup-component[type="normal"] .footer-button[btn="confirm"] button {
  border: #006c91 solid 1px;
  color: #fff;
  background: #006c91;
}

.popup-component[type="normal"] .footer-button[btn="confirm"] button:hover {
  background: #074d64;
}

.popup-component[type="warning"] .footer-button[btn="cancel"] button,
.popup-component[type="warning-editable"] .footer-button[btn="cancel"] button {
  border: #f04949 solid 1px;
  color: #f04949;
}

.popup-component[type="warning"] .footer-button[btn="cancel"] button:hover,
.popup-component[type="warning-editable"] .footer-button[btn="cancel"] button:hover {
  background: #f7f7f7;
}

.popup-component[type="warning"] .footer-button[btn="confirm"] button,
.popup-component[type="warning-editable"] .footer-button[btn="confirm"] button {
  border: #db0716 solid 1px;
  color: #fff;
  background: #db0716;
}

.popup-component[type="warning"] .footer-button[btn="confirm"] button:hover,
.popup-component[type="warning-editable"] .footer-button[btn="confirm"] button:hover {
  background: #dd3333;
}

.popup-component[type="warning"] .popup-content {
  text-align: center;
}

.popup-component[type="warning"] .popup-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup-component[type="warning"] .popup-content li {
  display: inline-block;
  margin-bottom: 5px;
}

.popup-component[type="warning"] .popup-content li::after {
  content: "、";
}

.popup-component[type="warning"] .popup-content li:nth-last-child(1)::after {
  content: "";
}

.popup-component[type="warning-editable"] .popup-content {
  text-align: inherit;
}

.popup-component[type="warning-editable"] .popup-content textarea[type="delete"] {
  color: #db0716;
}

.detail-row {
  padding: 0 15px 5px;
}

.detail-row:nth-last-child(1) {
  padding: 0 15px 0;
}

.detail-item-inner {
  display: flex;
}

.detail-item-unit {
  flex: 1;
}

.detail-item-unit:nth-last-child(1) {
  text-align: right;
}

.detail-title {
  font-weight: bold;
}

.detail-time {
  color: #777;
}

.detail-content {
  padding: 0 15px;
}

.detail-content-inner {
  padding: 10px 15px;
  background: rgba(237, 247, 255, 1);
  border: #d3e6ff solid 1px;
  border-radius: 10px;
}

.detail-content .detail-item {
  padding: 0 2px;
}

.detail-content .detail-item:nth-child(1) {
  margin-bottom: 8px;
  padding: 0 2px 8px;
  color: #006c91;
  font-weight: bold;
  border-bottom: #006c91 dashed 1px;
}

.detail-content .detail-item:nth-child(1)::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "account_circle";
  font-feature-settings: "liga";
  margin-right: 4px;
  font-size: 1.3125rem;
  line-height: 1;
  display: inline-block;
  vertical-align: text-bottom;
  color: #006c91;
}

/* .extra-size-popup */
.extra-size-popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 99;
}

.extra-size-popup-close a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
}

.extra-size-popup-close a span {
  font-size: 2.2rem;
}

.extra-size-popup .popup-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.extra-size-popup .popup-content {
  padding: 0;
  background: #fff;
}

.extra-size-popup .popup-content-item {
  padding-bottom: 80px;
}

.extra-size-popup .popup-content-item-inner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 15px 0;
}

.extra-size-popup .popup-content-tab {
  /* padding: 0 15px; */
  padding: 0;
  background: #eee;
}

.popup-content-tab .popup-content-item-inner {
  padding: 20px 0 0;
}

.popup-form .popup-content-tab .popup-content-item-inner {
  padding: 0;
}

.popup-form .popup-content-tab {
  margin: 0 10px;
}

.popup-content-tab ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popup-content-tab li {
  display: inline-block;
}

.popup-content-tab a {
  display: block;
  padding: 10px 15px 10px;
  color: #555;
}

.popup-content-tab a:hover {
  color: #074d64;
}

.popup-content-tab a.active {
  color: #074d64;
  font-weight: bold;
  border-bottom: #074d64 solid 2px;
}

.extra-size-popup .popup-form {
  padding: 15px 5px;
  margin-top: 15px;
  border: #aaa solid 1px;
  border-radius: 8px;
  background: #fff;
}

.extra-size-popup .popup-form:nth-child(1) {
  margin: 0;
}

.popup-compose .styleless-popup-form {
  padding: 10px 0 20px;
  border: none;
  background: none;
}

.popup-compose .pupop-content-tab-line {
  background: none;
  border-bottom: #aaa solid 1px;
}

.transfer-field-inner {
  display: flex;
}

.transfer-field-unit {
  min-height: 300px;
  max-height: 400px;
  padding: 4px;
  overflow: auto;
  flex: 1;
  border: #aaa solid 1px;
  border-radius: 4px;
}

.transfer-field-unit:nth-child(2) {
  flex: 0 0 80px;
  text-align: center;
  position: relative;
  border: none;
}

.form-item-entry .transfer-field .transfer-field-unit:nth-child(2) ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.form-item-entry .transfer-field li {
  margin: 0 0 5px 0;
  padding: 0;
  display: block;
}

.form-item-entry .transfer-field li a {
  display: block;
}

.transfer-field button {
  width: 35px;
  height: 35px;
  border: #aaa solid 1px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.transfer-field button:hover {
  background: #ccc;
}

.transfer-field button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.tree-field-checkbox {
  padding: 0 5px;
  border: #aaa solid 1px;
  border-top: none;
}

.tree-field-unit:nth-child(1) > .tree-field-checkbox {
  border: #aaa solid 1px;
}

.tree-field-unit .tree-field-checkbox {
  background: #edf7ff;
}

.tree-field-unit .sub-tree-field-unit .tree-field-checkbox {
  padding-left: 20px;
  background: none;
}

.tree-field-checkbox input {
  width: 15px;
}

.tree-field-checkbox input,
.tree-field-checkbox label {
  display: inline-block;
  vertical-align: middle;
}

.user-info-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-info-list li {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  color: #006c91;
}

.user-info-list::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "account_circle";
  font-feature-settings: "liga";
  margin-right: 4px;
  font-size: 1.3125rem;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  color: #006c91;
}

.user-info-list li::after {
  content: "/";
  margin: 0 2px;
}

.user-info-list li:nth-last-child(1)::after {
  content: "";
}

.text-table {
  width: 100%;
  padding: 0;
  margin: 0;
}

.text-table tr {
  width: 100%;
  display: flex;
}

.text-table td {
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
  vertical-align: middle;
  border: #ccc solid 1px;
  border-top: none;
}

.text-table tr:nth-child(1) td {
  border: #ccc solid 1px;
}

.text-table .tdinner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.text-table td span.td-title {
  display: flex;
  padding: 4px 6px;
  flex: 0 0 115px;
  align-items: center;
  background: #edf7ff;
  font-weight: bold;
  border-right: #ccc solid 1px;
}

.text-table td span.td-content {
  width: calc(100% - 115px);
  align-items: center;
  display: flex;
  padding: 4px 6px;
  word-wrap: break-word;
  word-break: break-all;
}

.input-table {
  width: 100%;
}

.input-table-btn {
  padding: 10px 0;
}

.input-table-btn ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.input-table-btn button.input-table-add {
  padding: 4px 15px;
  background: #0080e3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.input-table-btn button.input-table-add:hover {
  background: #0262ab;
}

.input-table-btn button.input-table-add span {
  font-size: 1rem;
  color: #fff;
}

.input-table-btn button.input-table-add span::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "add_circle_outline";
  font-feature-settings: "liga";
  margin-right: 4px;
  font-size: 1rem;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
  color: #fff;
}

.input-table-content {
  background: #f7f7f7;
}

.input-table table {
  width: 100%;
  background: #fff;
  text-align: left;
  border: #eee solid 1px;
}

.input-table tr:nth-child(odd) {
  background: #f9f9f9;
}

.input-table th {
  padding: 8px;
  background: #edf7ff;
  text-align: center;
}

.input-table th:nth-child(1),
.input-table th:nth-last-child(1) {
  width: 60px;
}

.input-table td:nth-child(1),
.input-table td:nth-last-child(1) {
  width: 60px;
  text-align: center;
}

.input-table td {
  padding: 8px;
  text-align: center;
}

.input-table td select {
  height: 40px;
  border-radius: 4px;
}

.input-table td button {
  cursor: pointer;
  background: none;
}

.del-icon-btn {
  color: #db0716;
}

.del-icon-btn:hover {
  color: #a70712;
}

.input-col li {
  display: flex;
  padding: 6px 4px;
  margin-right: 0;
  border-bottom: #ccc dotted 1px;
}

.input-col li:nth-child(1) {
  border-top: #ccc dotted 1px;
}

.input-col li span {
  flex: 1;
  padding-right: 5px;
}

.input-col li span:nth-last-child(1) {
  flex: 0 0 40px;
}

.input-col li span button {
  width: 100%;
  background: none;
  cursor: pointer;
}

.input-col li span button span {
  font-size: 1.75rem;
}

.tag-link a {
  font-size: 0.875rem;
}

.tag-link li {
  margin-right: 5px;
}

.tag-link button {
  font-size: 0.875rem;
  background: none;
  color: #0080e3;
}

.tag-entry-input {
  padding: 4px;
  border: #aaa solid 1px;
  border-radius: 4px;
  line-height: 1.8;
}

.tag-entry-textarea {
  min-height: 200px;
  max-height: 250px;
  padding: 4px;
  border: #aaa solid 1px;
  border-radius: 4px;
  line-height: 1.8;
  overflow: auto;
}

.tag-button {
  display: inline-block;
  padding: 2px 4px;
  margin: 0 2px;
  background: #ddd;
  border-radius: 4px;
  border: #eee solid 1px;
  cursor: pointer;
  line-height: 1.4;
}

.tag-button:hover {
  background: #ccc;
}

.tag-button a {
  color: #555;
}

.tag-button a span {
  padding-top: 2px;
  margin-left: 3px;
  font-size: 0.875rem;
}

.tag-link button {
  cursor: pointer;
}

.tag-link button:hover {
  color: #006c91;
}

/* END: popup */

/* START: ant-design */
.field-entry .ant-select {
  width: 100%;
}

.field-entry .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: 35px;
  border: none;
  border-bottom: #ccc solid 1px;
  border-radius: 0;
  position: relative;
}

.field-entry
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: none;
  border-bottom: #aaa solid 1px;
  outline: none;
  box-shadow: none;
}

.form-item-entry .ant-select {
  width: 100%;
  height: 35px;
  border: #aaa solid 1px;
  outline-color: #bbb;
  border-radius: 4px;
  background: #fff;
}

.form-item-all .form-item-entry .ant-select {
  width: 100%;
  background: #fff;
}

.form-item-entry
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 100%;
  border: none;
  background: none;
}

.form-item-entry
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  outline: none;
  box-shadow: none;
}

/* END: ant-design */
