html,
body,
.container,
.container-inner {
  height: 100%;
  overflow: auto;
}

/* START: frame */
.frame-block-inner {
  display: flex;
  align-items: stretch;
}

.frame-compose {
  flex: 1;
}
/* END: frame */

/* START: header */
.header-compose {
  border: #eee solid 1px;
  padding: 10px 15px;
}

.header-compose-inner {
  display: flex;
  align-items: center;
}

.header-component {
  flex: 1;
  align-items: center;
}

/* header-logo */
.header-logo {
  flex: 0 0 250px;
  padding: 0 10px;
}

.header-logo a {
  display: block;
}

/* header-function */
.header-function-inner {
  display: flex;
  padding: 0 20px;
}

.header-function-unit {
  display: flex;
  align-items: center;
}

.menu-button a {
  display: block;
  text-align: center;
  position: relative;
}

.menu-button a span {
  font-size: 36px;
  color: #006c91;
}

.header-function ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.system-link ul {
  display: flex;
}

.system-link li {
  display: flex;
  border-right: #006c91 solid 1px;
}

.system-link li:nth-last-child(1) {
  border-right: none;
}

.system-link li a {
  display: block;
  padding: 0 15px;
  color: #006c91;
  text-decoration: none;
}

.system-link li a[attr="home"]::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "home";
  font-feature-settings: "liga";
  margin-right: 6px;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block;
  vertical-align: bottom;
}

.system-link li a[attr="setting"]::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "settings";
  font-feature-settings: "liga";
  margin-right: 6px;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block;
  vertical-align: bottom;
}

/* header-info */
.header-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-info-inner {
  display: flex;
  justify-content: flex-end;
}

.header-info-unit {
  display: flex;
  padding: 0 15px;
  align-items: center;
  border-left: #006c91 solid 1px;
}

.header-info-unit:nth-child(1) {
  border-left: none;
}

.header-info-unit:nth-last-child(1) {
  padding: 0 0 0 20px;
}

.lang-selector::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "language";
  font-feature-settings: "liga";
  margin-right: 6px;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  color: #006c91;
}

.lang-selector select {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  border: none;
  color: #006c91;
  outline: none;
}

.user-link li {
  display: inline-block;
  vertical-align: middle;
  color: #006c91;
}

.user-link li:nth-child(1)::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "account_circle";
  font-feature-settings: "liga";
  margin-right: 6px;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  color: #006c91;
}

.user-link li:nth-last-child(1)::before {
  content: "（";
  display: inline-block;
  vertical-align: initial;
}

.user-link li:nth-last-child(1)::after {
  content: "）";
  display: inline-block;
  vertical-align: initial;
}

.location-text {
  color: #006c91;
}

/* END: header */

/* START: nav */
.nav-compose {
  flex: 0 0 250px;
  padding: 24px;
}

.nav-text h4 {
  font-size: 0.875rem;
  color: #006c91;
}

.nav-text h4::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: "folder_open";
  font-feature-settings: "liga";
  margin-right: 4px;
  font-size: 1.3125rem;
  line-height: 1;
  display: inline-block;
  vertical-align: text-bottom;
  color: #a2cb5e;
}

.nav-link {
  padding: 12px 15px 10px 25px;
  border-bottom: #ddd solid 1px;
  margin-bottom: 10px;
}

.nav-link ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link li {
  margin-bottom: 10px;
}

.nav-link li:nth-last-child(1) {
  margin-bottom: 0;
}

.nav-link a {
  text-decoration: none;
  color: #555;
}

.nav-link a:hover {
  color: #006c91;
}

.nav-link a.active {
  color: #006c91;
}
/* END: nav */

/* START: main */
/* content */
.main-content {
  background: #eee;
}
/* END: main */

/* START: footer */
.footer-copyright {
  text-align: center;
}

.footer-copyright p {
  font-size: 0.875rem;
  color: #aaa;
}
/* END: footer */