<div class="nav-component nav-list">
  <div class="nav-list-inner">
    <div class="nav-list-unit nav-text">
      <h4>管理者維護</h4>
    </div>
    <div class="nav-list-unit nav-link">
      <ul>
        <li><a href="javascript:void(0)">系統代碼檔</a></li>
        <li><a href="javascript:void(0)">選單分類</a></li>
        <li><a href="javascript:void(0)">選單作業</a></li>
        <li><a routerLink="/systemsetting/company" routerLinkActive="active">公司別</a></li>
        <li><a href="javascript:void(0)">區域別</a></li>
        <li><a href="javascript:void(0)">語系別</a></li>
        <li><a href="javascript:void(0)">角色</a></li>
        <li><a href="javascript:void(0)">帳號</a></li>
        <li><a href="javascript:void(0)">秘書</a></li>
        <li><a href="javascript:void(0)">信用卡卡號格式</a></li>
        <li><a href="javascript:void(0)">IP連線</a></li>
        <li><a href="javascript:void(0)">操作議程檢視</a></li>
      </ul>
    </div>
  </div>
</div>
