<div class="nav-component nav-list">
  <div class="nav-list-inner">
    <div class="nav-list-unit nav-text">
      <h4>全域管理者維護</h4>
    </div>
    <div class="nav-list-unit nav-link">
      <ul>
        <li>
          <a routerLink="/globalsetting/language" routerLinkActive="active"
            >語系設定</a
          >
        </li>
        <li>
          <a routerLink="/globalsetting/zone" routerLinkActive="active"
            >區域維護</a
          >
        </li>
        <li style="opacity: 0.4"><a>全域帳號管理</a></li>
        <li style="opacity: 0.4">
          <a>選單分類</a>
        </li>
        <li style="opacity: 0.4"><a>選單作業</a></li>
      </ul>
    </div>
  </div>
</div>
