<!-- START: popup -->
<div class="frame-block">
  <div class="frame-compose popup-compose">
    <div class="popup-composer-inner">
      <!-- START: default-popup -->
      <div class="popup-component large-size-popup" type="normal">
        <div class="popup-header">
          <div class="popup-header-inner">
            <div class="popup-header-unit header-text">
              {{ data.mode === "add" ? "新增" : "編輯" }}語系
            </div>
            <div class="popup-header-unit header-btn">
              <a href="javascript:void(0)" (click)="close.emit()"
                ><span class="material-icons-outlined"> close </span></a
              >
            </div>
          </div>
        </div>
        <div class="popup-content">
          <div class="popup-content-form" [formGroup]="languageFormGroup">
            <div class="form-row row-2">
              <div class="form-item" type="required" [attr.attr]="f['lang_Name'].errors && f['lang_Name'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">語系名稱</div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      placeholder="請輸入語系名稱"
                      formControlName="lang_Name"
                    />
                  </div>
                  <div class="form-item-text" *ngIf="f['lang_Name'].errors && f['lang_Name'].touched">
                    <p>{{ f["lang_Name"].errors | errorMessage : '語系名稱' }}</p>
                  </div>
                </div>
              </div>
              <div class="form-item" type="required" [attr.attr]="f['lang_Code'].errors && f['lang_Code'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">語系代號</div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      placeholder="請輸入語系代號"
                      formControlName="lang_Code"
                      [attr.attr]="data.mode === 'edit' && 'readonly'"
                    />
                  </div>
                  <div class="form-item-text" *ngIf="f['lang_Code'].errors && f['lang_Code'].touched">
                    <p>{{ f["lang_Code"].errors | errorMessage : '語系代號' }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row row-2">
              <div class="form-item" [attr.attr]="f['i18N_Front'].errors && f['i18N_Front'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">前台I18N檔名</div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      [value]="f['lang_Code'].value ? f['lang_Code'].value + '_f.json' : ''"
                      formControlName="i18N_Front"
                      attr="readonly"
                    />
                  </div>
                  <div class="form-item-text" *ngIf="f['i18N_Front'].errors && f['i18N_Front'].touched">
                    <p>{{ f["i18N_Front"].errors | errorMessage : '前台I18N檔名' }}</p>
                  </div>
                </div>
              </div>
              <div class="form-item" [attr.attr]="f['i18N_Back'].errors && f['i18N_Back'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">後台I18N檔名</div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      [value]="f['lang_Code'].value ? f['lang_Code'].value + '_b.json' : ''"
                      formControlName="i18N_Back"
                      attr="readonly"
                      />
                  </div>
                  <div class="form-item-text" *ngIf="f['i18N_Back'].errors && f['i18N_Back'].touched">
                    <p>{{ f["i18N_Back"].errors | errorMessage : '後台I18N檔名' }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row row-2">
              <div class="form-item" type="required" [attr.attr]="f['lang_State'].errors && f['lang_State'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">狀態</div>
                  <div class="form-item-entry">
                    <ul>
                      <li>
                        <input
                          type="radio"
                          id="rd01"
                          value="1"
                          formControlName="lang_State"
                        />
                        <label for="rd01">啟用</label>
                      </li>
                      <li>
                        <input
                          type="radio"
                          id="rd02"
                          value="0"
                          formControlName="lang_State"
                        />
                        <label for="rd02">停用</label>
                      </li>
                    </ul>
                  </div>
                  <div class="form-item-text" *ngIf="f['lang_State'].errors && f['lang_State'].touched">
                    <p>{{ f["lang_State"] | errorMessage : '狀態' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup-footer">
          <div class="popup-footer-inner">
            <div class="popup-footer-unit footer-button" btn="cancel">
              <button (click)="close.emit()">取消</button>
            </div>
            <div class="popup-footer-unit footer-button" btn="confirm">
              <button (click)="submit()">確認</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END: default-popup -->
    </div>
  </div>
</div>
<!-- END: popup -->
