<!-- START: popup -->
<div class="frame-block">
  <div class="frame-compose popup-compose">
    <div class="popup-composer-inner">
      <!-- START: default-popup -->
      <div class="popup-component large-size-popup" type="normal">
        <div class="popup-header">
          <div class="popup-header-inner">
            <div class="popup-header-unit header-text">
              {{
                (data.mode === "add" ? "BUTTONS.CREATE" : "BUTTONS.EDIT")
                  | translate
              }}
            </div>
            <div class="popup-header-unit header-btn">
              <a href="javascript:void(0)" (click)="close.emit()"
                ><span class="material-icons-outlined"> close </span></a
              >
            </div>
          </div>
        </div>
        <div class="popup-content">
          <div class="popup-content-form" [formGroup]="languageFormGroup">
            <div class="form-row row-2">
              <!-- 語系名稱 -->
              <div
                class="form-item"
                type="required"
                [attr.attr]="
                  f['lang_Name'].errors && f['lang_Name'].touched && 'error'
                "
              >
                <div class="form-item-inner">
                  <div class="form-item-title">
                    {{ "PAGES.LANG_NAME" | translate }}
                  </div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      [placeholder]="
                        'PLACEHOLDER.ENTRY'
                          | translate : { field: 'PAGES.LANG_NAME' | translate }
                      "
                      formControlName="lang_Name"
                    />
                  </div>
                  <div
                    class="form-item-text"
                    *ngIf="f['lang_Name'].errors && f['lang_Name'].touched"
                  >
                    <p>
                      {{ f["lang_Name"].errors | errorMessage : "語系名稱" }}
                    </p>
                  </div>
                </div>
              </div>
              <!-- 語系代號 -->
              <div
                class="form-item"
                type="required"
                [attr.attr]="
                  f['lang_Code'].errors && f['lang_Code'].touched && 'error'
                "
              >
                <div class="form-item-inner">
                  <div class="form-item-title">
                    {{ "PAGES.LANG_CODE" | translate }}
                  </div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      [placeholder]="
                        'PLACEHOLDER.ENTRY'
                          | translate : { field: 'PAGES.LANG_CODE' | translate }
                      "
                      formControlName="lang_Code"
                      [attr.attr]="data.mode === 'edit' && 'readonly'"
                    />
                  </div>
                  <div
                    class="form-item-text"
                    *ngIf="f['lang_Code'].errors && f['lang_Code'].touched"
                  >
                    <p>
                      {{ f["lang_Code"].errors | errorMessage : "語系代號" }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- 前台I18N檔名 -->
            <div class="form-row row-2">
              <div
                class="form-item"
                [attr.attr]="
                  f['i18N_Front'].errors && f['i18N_Front'].touched && 'error'
                "
              >
                <div class="form-item-inner">
                  <div class="form-item-title">
                    {{ "PAGES.I18N_FRONT" | translate }}
                  </div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      [value]="
                        f['lang_Code'].value
                          ? f['lang_Code'].value + '_f.json'
                          : ''
                      "
                      formControlName="i18N_Front"
                      attr="readonly"
                    />
                  </div>
                  <div
                    class="form-item-text"
                    *ngIf="f['i18N_Front'].errors && f['i18N_Front'].touched"
                  >
                    <p>
                      {{
                        f["i18N_Front"].errors | errorMessage : "前台I18N檔名"
                      }}
                    </p>
                  </div>
                </div>
              </div>
              <!-- 後台I18N檔名 -->
              <div
                class="form-item"
                [attr.attr]="
                  f['i18N_Back'].errors && f['i18N_Back'].touched && 'error'
                "
              >
                <div class="form-item-inner">
                  <div class="form-item-title">
                    {{ "PAGES.I18N_BACK" | translate }}
                  </div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      [value]="
                        f['lang_Code'].value
                          ? f['lang_Code'].value + '_b.json'
                          : ''
                      "
                      formControlName="i18N_Back"
                      attr="readonly"
                    />
                  </div>
                  <div
                    class="form-item-text"
                    *ngIf="f['i18N_Back'].errors && f['i18N_Back'].touched"
                  >
                    <p>
                      {{
                        f["i18N_Back"].errors | errorMessage : "後台I18N檔名"
                      }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row row-2">
              <!-- 狀態 -->
              <div
                class="form-item"
                type="required"
                [attr.attr]="
                  f['lang_State'].errors && f['lang_State'].touched && 'error'
                "
              >
                <div class="form-item-inner">
                  <div class="form-item-title">
                    {{ "PAGES.LANG_STATE" | translate }}
                  </div>
                  <div class="form-item-entry">
                    <ul>
                      <li>
                        <input
                          type="radio"
                          id="rd01"
                          value="1"
                          formControlName="lang_State"
                        />
                        <label for="rd01">{{
                          "SELECT_OPTIONS.ENABLE" | translate
                        }}</label>
                      </li>
                      <li>
                        <input
                          type="radio"
                          id="rd02"
                          value="0"
                          formControlName="lang_State"
                        />
                        <label for="rd02">{{
                          "SELECT_OPTIONS.DISABLE" | translate
                        }}</label>
                      </li>
                    </ul>
                  </div>
                  <div
                    class="form-item-text"
                    *ngIf="f['lang_State'].errors && f['lang_State'].touched"
                  >
                    <p>{{ f["lang_State"] | errorMessage : "狀態" }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup-footer">
          <div class="popup-footer-inner">
            <div class="popup-footer-unit footer-button" btn="cancel">
              <button (click)="close.emit()">
                {{ "BUTTONS.CANCEL" | translate }}
              </button>
            </div>
            <div class="popup-footer-unit footer-button" btn="confirm">
              <button (click)="submit()">
                {{ "BUTTONS.CONFIRM" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- END: default-popup -->
    </div>
  </div>
</div>
<!-- END: popup -->
