<div class="container-inner login-default">
  <div class="login-default-inner">
    <!-- START: frame -->
    <div class="frame-block">
      <!-- START: logo -->
      <div class="frame-compose logo-compose">
        <div class="logo-component logo-image">
          <img src="./assets/image/logo.svg" alt="" />
        </div>
      </div>
      <!-- END: logo -->
    </div>
    <!-- END: frame -->
    <!-- START: frame -->
    <div class="frame-block">
      <!-- START: login -->
      <div class="frame-compose login-compose">
        <div class="login-compose-inner">
          <!-- START: login-form -->
          <div class="login-component login-form">
            <div [formGroup]="loginFormGroup">
              <div
                [ngClass]="{
                  'login-form-item': true,
                  'error-entry':
                    f['userAccount'].errors && f['userAccount'].touched
                }"
              >
                <div class="login-form-item-inner">
                  <div class="form-unit form-title-text">
                    帳號<span (click)="loginAAD()">ID</span>
                  </div>
                  <div class="form-unit form-field-input">
                    <input
                      type="text"
                      placeholder="請輸入帳號"
                      formControlName="userAccount"
                    />
                  </div>
                  <div
                    class="form-unit form-field-text"
                    *ngIf="f['userAccount'].errors && f['userAccount'].touched"
                  >
                    <span>{{ f["userAccount"].errors | errorMessage : '帳號 ID' }}</span>
                  </div>
                </div>
              </div>
              <div
                [ngClass]="{
                  'login-form-item': true,
                  'error-entry':
                    f['userPassword'].errors && f['userPassword'].touched
                }"
              >
                <div class="login-form-item-inner">
                  <div class="form-unit form-title-text">
                    密碼<span>Password</span>
                  </div>
                  <div class="form-unit">
                    <div class="form-unit-inner unit-combine form-field-input">
                      <div class="form-part form-field-input">
                        <input
                          [type]="pwdVis ? 'text' : 'password'"
                          placeholder="請輸入密碼"
                          formControlName="userPassword"
                        />
                      </div>
                      <div
                        class="form-part form-field-link"
                        (click)="pwdVis = !pwdVis"
                      >
                        <a
                          href="javascript:void(0)"
                          class="form-pw"
                          tabindex="-1"
                          ><span class="material-icons-outlined">{{
                            pwdVis ? "visibility_off" : "visibility"
                          }}</span></a
                        >
                      </div>
                    </div>

                    <div
                      class="form-unit form-field-text"
                      *ngIf="
                        f['userPassword'].errors && f['userPassword'].touched
                      "
                    >
                      <span>{{ f["userPassword"].errors | errorMessage : '密碼 Password' }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                [ngClass]="{
                  'login-form-item': true,
                  'error-entry':
                    f['verificatCode'].errors && f['verificatCode'].touched
                }"
              >
                <div class="login-form-item-inner">
                  <div class="form-unit form-title-text">
                    驗證碼<span>Verification</span>
                  </div>
                  <div class="form-unit">
                    <div class="form-unit-inner">
                      <div class="form-part form-field-input">
                        <input
                          type="text"
                          placeholder="請輸入驗證碼"
                          formControlName="verificatCode"
                        />
                      </div>
                      <div class="form-part form-field-link">
                        <a class="form-verify">
                          <img [src]="imgBase64" alt="captcha">
                        </a>
                      </div>
                      <div class="form-part form-field-link">
                        <a
                          href="javascript:void(0)"
                          class="form-refresh"
                          tabindex="-1"
                          (click)="getValidGrphics()"
                          ><span class="material-icons-outlined"
                            >autorenew</span
                          ></a
                        >
                      </div>
                    </div>
                  </div>
                  <div
                    class="form-unit form-field-text"
                    *ngIf="
                      f['verificatCode'].errors && f['verificatCode'].touched
                    "
                  >
                    <span>{{ f["verificatCode"].errors | errorMessage : '驗證碼 Verification' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END: login-form -->
          <!-- START: login-button -->
          <div class="login-component login-button">
            <button type="button" (click)="login()">登入</button>
            <hr class="login-seperate-line">
            <a href="#">以 Azure 登入</a>
          </div>
          <!-- END: login-button -->
        </div>
      </div>
      <!-- END: login -->
    </div>
    <!-- END: frame -->
    <!-- START: frame -->
    <div class="frame-block">
      <!-- START: footer -->
      <div class="frame-compose footer-compose">
        <div class="footer-component footer-text">
          <p>Copyright © Wistron Inc.</p>
        </div>
      </div>
      <!-- END: footer -->
    </div>
    <!-- END: frame -->
  </div>
</div>
