<!-- START: popup -->
<div class="frame-block">
  <div class="frame-compose popup-compose">
    <div class="popup-composer-inner">
      <!-- START: default-popup -->
      <div class="popup-component large-size-popup" type="normal">
        <div class="popup-header">
          <div class="popup-header-inner">
            <div class="popup-header-unit header-text">
              {{ data.mode === "add" ? "新增" : "編輯" }}秘書管理
            </div>
            <div class="popup-header-unit header-btn">
              <a href="javascript:void(0)" (click)="close.emit()"
                ><span class="material-icons-outlined"> close </span></a
              >
            </div>
          </div>
        </div>
        <div class="popup-content" *ngIf="isSecretaryFormGroup">
          <div class="popup-content-form" [formGroup]="secretaryFormGroup">
            <div class="form-row row-1">
              <div class="form-item" type="required" [attr.attr]="f['pfk_Info_Id'].errors && f['pfk_Info_Id'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">工號 / 姓名</div>
                  <div class="form-item-entry">
                    <nz-select
                      nzShowSearch
                      nzAllowClear
                      nzPlaceHolder="請輸入工號、中文姓名、英文姓名、Site"
                      formControlName="pfk_Info_Id"
                      (nzOpenChange)="pfkInfoIdChange($event)"
                    >
                      <nz-option
                        *ngFor="let item of useInfolist"
                        [nzLabel]="item.value"
                        [nzValue]="item.key"
                      ></nz-option>
                    </nz-select>
                  </div>
                  <div class="form-item-text" *ngIf="f['pfk_Info_Id'].errors && f['pfk_Info_Id'].touched">
                    <p>{{ f["pfk_Info_Id"].errors | errorMessage : '工號 / 姓名' }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row row-1">
              <div class="form-item" type="required" [attr.attr]="f['info_Site'].errors && f['info_Site'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">Site</div>
                  <div class="form-item-entry">
                    <input type="text" placeholder="" attr="readonly" formControlName="info_Site" />
                  </div>
                  <div class="form-item-text" *ngIf="f['info_Site'].errors && f['info_Site'].touched">
                    <p>{{ f["info_Site"].errors | errorMessage : 'Site' }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row row-1">
              <div class="form-item" type="required" [attr.attr]="f['sec_Depts'].errors && f['sec_Depts'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">負責部門</div>
                  <div class="form-item-entry">
                      <textarea name="" id="" cols="10" rows="3" placeholder="請輸入負責部門"  formControlName="sec_Depts"></textarea>
                  </div>
                  <div class="form-item-text" *ngIf="f['sec_Depts'].errors && f['sec_Depts'].touched">
                    <p>{{ f["sec_Depts"].errors | errorMessage : '負責部門' }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row row-1">
              <div class="form-item" type="required" [attr.attr]="f['sec_Special'].errors && f['sec_Special'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">特殊名單</div>
                  <div class="form-item-entry">
                      <textarea name="" id="" cols="10" rows="3" placeholder="請輸入特殊名單"  formControlName="sec_Special"></textarea>
                  </div>
                  <div class="form-item-text" *ngIf="f['sec_Special'].errors && f['sec_Special'].touched">
                    <p>{{ f["sec_Special"].errors | errorMessage : '特殊名單' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup-footer">
          <div class="popup-footer-inner">
            <div class="popup-footer-unit footer-button" btn="cancel">
              <button (click)="close.emit()">取消</button>
            </div>
            <div class="popup-footer-unit footer-button" btn="confirm">
              <button (click)="submit()">確認</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END: default-popup -->
    </div>
  </div>
</div>
<!-- END: popup -->
