<main class="main-component main-content">
  <div class="main-content-inner">
    <!-- START: content-title -->
    <div class="main-content-unit content-title">
      <div class="content-title-inner">
        <h1>系統代碼檔</h1>
      </div>
    </div>
    <!-- END: content-title -->
    <!-- START: content-query -->
    <div class="main-content-unit content-query">
      <div class="content-query-field">
        <div class="content-query-unit query-field">
          <div class="field-title">活動名稱(1/4)</div>
          <div class="field-entry">
            <input type="text" placeholder="請輸入活動名稱" />
          </div>
        </div>
        <div class="content-query-unit query-field">
          <div class="field-title">活動狀態(1/4)</div>
          <div class="field-entry">
            <select name="" id="">
              <option value="">全部</option>
              <option value="">啟用</option>
              <option value="">停用</option>
            </select>
          </div>
        </div>
        <div class="content-query-unit query-field query-field-daterange">
          <div class="field-title">活動日期(1/4)</div>
          <div class="field-entry">
            <div class="field-entry-inner">
              <div class="field-entry-unit">
                <input type="date" />
              </div>
              <div class="field-entry-unit">~</div>
              <div class="field-entry-unit">
                <input type="date" />
              </div>
            </div>
          </div>
        </div>
        <div class="content-query-unit query-field">
          <div class="field-title">活動日期(1/4)</div>
          <div class="field-entry">
            <input type="date" placeholder="" />
          </div>
        </div>
        <div class="content-query-unit query-field query-field-half">
          <div class="field-title">身份識別(1/2)</div>
          <div class="field-entry">
            <ul>
              <li><input type="checkbox" /><label for="">DL識別</label></li>
              <li><input type="checkbox" /><label for="">DL識別</label></li>
              <li><input type="checkbox" /><label for="">DL識別</label></li>
              <li><input type="checkbox" /><label for="">DL識別</label></li>
              <li><input type="checkbox" /><label for="">DL識別</label></li>
            </ul>
          </div>
        </div>
        <div class="content-query-unit query-field query-field-half">
          <div class="field-title">身份識別u1(1/2)</div>
          <div class="field-entry">
            <ul>
              <li>
                <input type="radio" value="DL識別1" name="身份識別u1" /><label
                  for="DL識別1"
                  >DL識別1</label
                >
              </li>
              <li>
                <input type="radio" value="DL識別2" name="身份識別u1" /><label
                  for="DL識別2"
                  >DL識別2</label
                >
              </li>
              <li>
                <input type="radio" value="DL識別3" name="身份識別u1" /><label
                  for="DL識別3"
                  >DL識別3</label
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="content-query-unit query-field query-field-all">
          <div class="field-title">身份識別(1)</div>
          <div class="field-entry">
            <ul>
              <li><input type="radio" /><label for="">DL識別</label></li>
              <li><input type="radio" /><label for="">DL識別</label></li>
              <li><input type="radio" /><label for="">DL識別</label></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content-query-button">
        <div class="content-query-unit query-button">
          <ul>
            <li><button class="cancel-btn">取消</button></li>
            <li><button class="query-btn" (click)="test()">查詢</button></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END: content-query -->
    <hr class="seperate-line" />
    <!-- START: content-result -->
    <div class="main-content-unit content-result">
      <div class="content-result-inner">
        <!-- START: result-function -->
        <div class="result-function">
          <ul>
            <li><a href="javascript:void(0)" attr="add">新增</a></li>
            <li><a href="javascript:void(0)" attr="copy">複製</a></li>
            <li><a href="javascript:void(0)" attr="prohibit">停用</a></li>
            <li><a href="javascript:void(0)" attr="delete">刪除</a></li>
          </ul>
        </div>
        <!-- END: result-function -->
        <!-- START: result-counter -->
        <div class="result-counter">共<span>0</span>筆</div>
        <!-- END: result-counter -->
        <!-- START: result-table -->
        <div class="result-table">
          <app-tabulator-table
            #tabulatorTable
            [initData]="arr"
            [columnNames]="columnNames"
          ></app-tabulator-table>
        </div>
        <!-- END: result-table -->
        <!-- START: result-page -->
        <div class="result-page">
          <ul>
            <li><a href="javascript:void(0)">上一頁</a></li>
            <li><a href="javascript:void(0)">下一頁</a></li>
            <li>
              <span>前往</span>
              <select name="" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
              <span>頁</span>
            </li>
          </ul>
        </div>
        <!-- END: result-page -->
      </div>
    </div>
    <!-- END: content-result -->
  </div>
</main>
