<main class="main-component main-content">
  <div class="main-content-inner">
    <!-- START: content-query -->
    <div class="main-content-unit content-query">
      <div class="content-query-inner">
        <div class="content-query-unit query-field">
          <div class="field-title">區域名稱</div>
          <div class="field-entry"><input type="text" #name /></div>
        </div>
        <div class="content-query-unit query-field">
          <div class="field-title">狀態</div>
          <div class="field-entry">
            <select #status>
              <option value="true">啟用</option>
              <option value="">停用</option>
            </select>
          </div>
        </div>
        <div class="content-query-unit query-field">
          <div class="field-title">field-title</div>
          <div class="field-entry"><input type="text" /></div>
        </div>
        <div class="content-query-unit query-field">
          <div class="field-title">field-title</div>
          <div class="field-entry"><input type="text" /></div>
        </div>
        <div class="content-query-unit query-button">
          <button type="button" (click)="test()">query-button</button>
        </div>
      </div>
    </div>
    <!-- END: content-query -->
    <!-- START: content-result -->
    <div class="main-content-unit content-result">
      <div class="content-result-inner">
        <!-- START: result-function -->
        <div class="result-function">
          <ul>
            <li><a href="#" attr="add">新增</a></li>
            <li><a href="#" attr="copy">複製</a></li>
            <li><a href="#" attr="prohibit">停用</a></li>
            <li><a href="#" attr="delete">刪除</a></li>
          </ul>
        </div>
        <!-- END: result-function -->
        <!-- START: result-table -->
        <div class="result-table">
          <app-tabulator-table
            #tabulatorTable
            [tableData]="arr"
            [columnNames]="columnNames"
          ></app-tabulator-table>
        </div>
        <!-- END: result-table -->
      </div>
    </div>
    <!-- END: content-result -->
  </div>
</main>
