<!-- <div class="content-result-inner"> -->
<!-- START: result-counter -->
<div *ngIf="tableReady" class="result-counter">
  {{
    "TABLE_INFO.TOTAL_COUNT"
      | translate : { count: tabulatorTable.getDataCount() }
  }}
</div>
<!-- END: result-counter -->
<!-- START: result-table -->
<div class="result-table">
  <app-tabulator-table
    [initData]="initData"
    [columnNames]="columnNames"
    [tableConfig]="_tableConfig"
    (tableBuilded)="_tableBuilded($event)"
  ></app-tabulator-table>
</div>
<!-- END: result-table -->
<!-- START: result-page -->
<div class="result-page" *ngIf="tableReady">
  <ul>
    <li>
      <a href="javascript:void(0)" (click)="previousPage()">{{
        "TABLE_INFO.PREV_PAGE" | translate
      }}</a>
    </li>
    <li>
      <a href="javascript:void(0)" (click)="nextPage()">{{
        "TABLE_INFO.NEXT_PAGE" | translate
      }}</a>
    </li>
    <li>
      <span>{{ "TABLE_INFO.PAGE_SIZE_BEFORE" | translate }}</span>
      <select
        [value]="tabulatorTable.getPageSize()"
        (change)="setPageSize($event)"
      >
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
      <span>{{ "TABLE_INFO.PAGE_SIZE_AFTER" | translate }}</span>
    </li>
    <li>
      <span>{{ "TABLE_INFO.PAGE_TO_BEFORE" | translate }}</span>
      <select
        [value]="tabulatorTable.getPage()"
        (change)="setCurrentPage($event)"
      >
        <option
          *ngFor="
            let item of [].constructor(tabulatorTable.getPageMax());
            let index = index
          "
          [value]="index + 1"
        >
          {{ index + 1 }}
        </option>
      </select>
      <span>{{ "TABLE_INFO.PAGE_TO_AFTER" | translate }}</span>
    </li>
  </ul>
</div>
<!-- END: result-page -->
<!-- </div> -->
