<div class='rt-fun-list'>
  <ul>
    <li *ngIf="type === 'edit' || type === 'editCopyDelete' || type === 'editPreviewCopyOff'">
      <a (click)="edit($event)">{{ "BUTTONS.EDIT" | translate }}</a>
    </li>
    <li *ngIf="type === 'delete'">
      <a (click)="del($event)" class='rt-delete'>刪除</a>
    </li>
    <li *ngIf="type === 'copy'">
      <a (click)="copy($event)">複製</a>
    </li>
    <li *ngIf="type === 'editCopyDelete' || type === 'editPreviewCopyOff'">
      <a (click)="more($event)">more_vert</a>
    </li>
  </ul>
  <div class='more-fun-list' *ngIf="type === 'editCopyDelete' || type === 'editPreviewCopyOff'">
    <ul>
      <li *ngIf="type === 'editPreviewCopyOff'">
        <a (click)="preview($event)">預覽</a>
      </li>
      <li *ngIf="type === 'editCopyDelete'">
        <a (click)="copy($event)">複製</a>
      </li>
      <li *ngIf="type === 'editCopyDelete'">
        <a (click)="del($event)" class='rt-delete'>刪除</a>
      </li>
      <li *ngIf="type === 'editPreviewCopyOff'">
        <a (click)="off($event)">下架</a>
      </li>
    </ul>
  </div>
</div>
