<!-- START: popup -->
<div class="frame-block">
  <div class="frame-compose popup-compose">
    <div class="popup-composer-inner">
      <!-- START: default-popup -->
      <div class="popup-component large-size-popup" type="normal">
        <div class="popup-header">
          <div class="popup-header-inner">
            <div class="popup-header-unit header-text">
              {{ data.mode === "add" ? "新增" : "編輯" }}選單分類
            </div>
            <div class="popup-header-unit header-btn">
              <a href="javascript:void(0)" (click)="close.emit()"
                ><span class="material-icons-outlined"> close </span></a
              >
            </div>
          </div>
        </div>
        <div class="popup-content">
          <div class="popup-content-form" [formGroup]="moduleClassFormGroup">
            <div class="form-row row-2">
              <div class="form-item" type="required" [attr.attr]="f['modClass_Name'].errors && f['modClass_Name'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">選單分類名稱</div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      placeholder="請輸入選單分類名稱"
                      formControlName="modClass_Name"
                    />
                  </div>
                  <div class="form-item-text" *ngIf="f['modClass_Name'].errors && f['modClass_Name'].touched">
                    <p>{{ f["modClass_Name"].errors | errorMessage : '選單分類名稱' }}</p>
                  </div>
                </div>
              </div>
              <div class="form-item" type="required" [attr.attr]="f['modClass_State'].errors && f['modClass_State'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">前後台別</div>
                  <div class="form-item-entry">
                    <ul>
                      <li>
                        <input
                          type="radio"
                          id="rd01"
                          value="1"
                          formControlName="modClass_State"
                        />
                        <label for="rd01">前台</label>
                      </li>
                      <li>
                        <input
                          type="radio"
                          id="rd02"
                          value="0"
                          formControlName="modClass_State"
                        />
                        <label for="rd02">後台</label>
                      </li>
                    </ul>
                  </div>
                  <div class="form-item-text" *ngIf="f['modClass_State'].errors && f['modClass_State'].touched">
                    <p>{{ f["modClass_State"].errors | errorMessage : '前後台別' }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row row-2">
              <div class="form-item" type="required" [attr.attr]="f['modClass_Order'].errors && f['modClass_Order'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">排序</div>
                  <div class="form-item-entry">
                    <input
                      type="text"
                      placeholder="請輸入排序"
                      formControlName="modClass_Order"
                    />
                  </div>
                  <div class="form-item-text" *ngIf="f['modClass_Order'].errors && f['modClass_Order'].touched">
                    <p>{{ f["modClass_Order"].errors | errorMessage : '排序' }}</p>
                  </div>
                </div>
              </div>
              <div class="form-item" type="required" [attr.attr]="f['modClass_FrontBack'].errors && f['modClass_FrontBack'].touched && 'error'">
                <div class="form-item-inner">
                  <div class="form-item-title">狀態</div>
                  <div class="form-item-entry">
                    <ul>
                      <li>
                        <input
                          type="radio"
                          id="rd03"
                          value="1"
                          formControlName="modClass_FrontBack"
                        />
                        <label for="rd03">啟用</label>
                      </li>
                      <li>
                        <input
                          type="radio"
                          id="rd04"
                          value="0"
                          formControlName="modClass_FrontBack"
                        />
                        <label for="rd04">停用</label>
                      </li>
                    </ul>
                  </div>
                  <div class="form-item-text" *ngIf="f['modClass_FrontBack'].errors && f['modClass_FrontBack'].touched">
                    <p>{{ f["modClass_FrontBack"].errors | errorMessage : '狀態' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup-footer">
          <div class="popup-footer-inner">
            <div class="popup-footer-unit footer-button" btn="cancel">
              <button (click)="close.emit()">取消</button>
            </div>
            <div class="popup-footer-unit footer-button" btn="confirm">
              <button (click)="submit()">確認</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END: default-popup -->
    </div>
  </div>
</div>
<!-- END: popup -->
