<div class="header-compose-inner">
  <!-- START: header-logo -->
  <div class="header-component header-logo">
    <a routerLink="/home"><img src="assets/image/logo.svg" alt="" /></a>
  </div>
  <!-- END: header-logo -->
  <!-- START: header-function -->
  <div class="header-component header-function">
    <div class="header-function-inner">
      <div class="header-function-unit menu-button">
        <a (click)="menuBtnClickHandler($event)">
          <ng-container *ngIf="menuControlService.isShow; else menuClose">
            <span class="material-icons-outlined">segment</span>
          </ng-container>

          <ng-template #menuClose>
            <span class="material-icons">menu</span>
          </ng-template>
        </a>
      </div>
      <div class="header-function-unit system-link">
        <ul>
          <li>
            <a routerLink="/home" routerLinkActive="active" attr="staff"
              >管理員</a
            >
          </li>
          <li
            *ngIf="
              managerInfoService.isGlobal === '1' ||
              managerInfoService.isBackend === '1'
            "
          >
            <a
              [ngClass]="{ active: router.url.startsWith('/systemsetting') }"
              href="javascript:void(0)"
              attr="setting"
              (click)="menuControlService.setSideMenu('systemSetting', true)"
              >管理者設定</a
            >
          </li>
          <li *ngIf="managerInfoService.isGlobal === '1'">
            <a
              [ngClass]="{ active: router.url.startsWith('/globalsetting') }"
              href="javascript:void(0)"
              attr="global"
              (click)="menuControlService.setSideMenu('globalSetting', true)"
              >全域管理者設定</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END: header-function -->
  <!-- START: header-info -->
  <div class="header-component header-info">
    <div class="header-info-inner">
      <div class="header-info-unit lang-selector">
        <select [(ngModel)]="currentLang" (change)="changeLang($event)">
          <option
            *ngFor="let langItem of managerInfoService.activeLangList"
            [value]="langItem['langCode'] + '_b'"
          >
            {{ langItem["langName"] }}
          </option>
        </select>
      </div>
      <div class="header-info-unit user-link">
        <ul (click)="userLinkNavClick($event)">
          <li>{{ managerInfoService.managerName }}</li>
          <li>{{ managerInfoService.managerJobNumber }}</li>
        </ul>
        <div class="user-link-nav" *ngIf="isUserLinkNav">
          <ul>
            <li (click)="logout()">
              <a href="javascript:void(0)">{{
                "BUTTONS.LOGOUT" | translate
              }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="header-info-unit location-text"
        *ngIf="!router.url.startsWith('/globalsetting')"
      >
        <span>{{ managerInfoService.activeZoneItem.zoneName }}</span>
      </div>
    </div>
  </div>
  <!-- END: header-info -->
</div>
