<div class="header-compose-inner">
  <!-- START: header-logo -->
  <div class="header-component header-logo">
    <a routerLink="/home"><img src="assets/image/logo.svg" alt="" /></a>
  </div>
  <!-- END: header-logo -->
  <!-- START: header-function -->
  <div class="header-component header-function">
    <div class="header-function-inner">
      <div class="header-function-unit menu-button">
        <a href="javascript:void(0)"
          ><span class="material-icons">menu</span></a
        >
      </div>
      <div class="header-function-unit system-link">
        <ul>
          <li><a routerLink="/home" routerLinkActive="active" attr="home">首頁</a></li>
          <li>
            <a href="javascript:void(0)" attr="setting">管理者設定</a>
          </li>
          <li>
            <a href="javascript:void(0)" routerLinkActive="active" attr="global"
              >全域管理者設定</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END: header-function -->
  <!-- START: header-info -->
  <div class="header-component header-info">
    <div class="header-info-inner">
      <div class="header-info-unit lang-selector">
        <select name="" id="">
          <option value="繁體中文">繁體中文</option>
          <option value="简体中文">简体中文</option>
          <option value="English">English</option>
          <option value="Vietnamese">Vietnamese</option>
          <option value="擴充語言">擴充語言</option>
        </select>
      </div>
      <div class="header-info-unit user-link">
        <ul>
          <li>Allen Lin</li>
          <li (click)="logout()">ABC13579</li>
        </ul>
      </div>
      <div class="header-info-unit location-text">
        <span>Taiwan</span>
      </div>
    </div>
  </div>
  <!-- END: header-info -->
</div>
